{% extends "polls/base.html" %}
{% load static %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'polls/css/session.css' %}">
{% endblock %}

{% block title %}Сессия игры{% endblock %}

{% block content %}
<div class="timer">
    <p><b>Время для следующего хода:  </b>01:30</p>
</div>
<div class="chat1">
        <div class="message_area1">
            <div>
                <strong>User1:</strong> Всем привет!
            </div>
            <div>
                <strong>User2:</strong> Привет!
            </div>
            <div>
                <strong>User3:</strong> Кто сегодня онлайн?
            </div>
            <div>
                <strong>User4:</strong> Я здесь!
            </div>
        </div>

        <div class="text_input_fill1">
            <form action="#" method="post">
                <label for="message1">Сообщение:</label>
                <input type="text" id="message1" name="message" placeholder="Введите сообщение..." class="input_mes1">
                <button type="submit" class="input_mes_b1">-></button>
            </form>
        </div>
</div>

<div class="game_area">
    <div class="">
        <div class=""><p>Слово</p></div>
        <div class=""><p>Слово</p></div>
        <div class=""><p>Слово</p></div>
        <div class=""><p>Слово</p></div>
        <div class=""><p>Слово</p></div>
    </div>
    <div class="">
        <div class=""><p>Слово</p></div>
        <div class=""><p>Слово</p></div>
        <div class=""><p>Слово</p></div>
        <div class=""><p>Слово</p></div>
        <div class=""><p>Слово</p></div>
    </div>
    <div class="">
        <div class=""><p>Слово</p></div>
        <div class=""><p>Слово</p></div>
        <div class=""><p>Слово</p></div>
        <div class=""><p>Слово</p></div>
        <div class=""><p>Слово</p></div>
    </div>
    <div class="">
        <div class=""><p>Слово</p></div>
        <div class=""><p>Слово</p></div>
        <div class=""><p>Слово</p></div>
        <div class=""><p>Слово</p></div>
        <div class=""><p>Слово</p></div>
    </div>
    <div class="">
        <div class=""><p>Слово</p></div>
        <div class=""><p>Слово</p></div>
        <div class=""><p>Слово</p></div>
        <div class=""><p>Слово</p></div>
        <div class=""><p>Слово</p></div>
    </div>
</div>

<div class="chat2">
        <div class="message_area2">
            <div>
                <strong>User1:</strong> Всем привет!
            </div>
            <div>
                <strong>User2:</strong> Привет!
            </div>
            <div>
                <strong>User3:</strong> Кто сегодня онлайн?
            </div>
            <div>
                <strong>User4:</strong> Я здесь!
            </div>
        </div>

        <div class="text_input_fill2">
            <form action="#" method="post">
                <label for="message2">Сообщение:</label>
                <input type="text" id="message2" name="message" placeholder="Введите сообщение..." class="input_mes2">
                <button type="submit" class="input_mes_b2">-></button>
            </form>
        </div>
</div>
{% endblock %}